<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="SendEmail" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.169.1.218\SQL2016; Initial Catalog=bdsr;
         User Id=sa; Password=welcome3#"/>
    <add name="bdsrConnectionString" connectionString="Data Source=192.169.1.218\SQL2016; Initial Catalog=bdsr;
         User Id=sa; Password=welcome3#"/>
     <add name="bdsrConnectionString3" connectionString="Data Source=192.169.1.218\SQL2016; Initial Catalog=bdsr;
         User Id=sa; Password=welcome3#"/>
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
